<div>
  <h1>Sudoku</h1>

  <table class="sudoku-table">
    <tbody>
      <tr class="">
        <td class="" cell-index="0">
          8
        </td>

        <td class="" cell-index="1">
          4
        </td>

        <td class="" cell-index="2">
          5
        </td>

        <td class="" cell-index="3" contenteditable></td>

        <td class="" cell-index="4">
          1
        </td>

        <td class="" cell-index="5" contenteditable></td>

        <td class="" cell-index="6">
          6
        </td>

        <td class="" cell-index="7" contenteditable></td>

        <td class="" cell-index="8">
          3
        </td>
      </tr>
      <tr class="">
        <td class="" cell-index="9" contenteditable></td>

        <td class="" cell-index="10">
          3
        </td>

        <td class="" cell-index="11">
          7
        </td>

        <td class="" cell-index="12" contenteditable></td>

        <td class="" cell-index="13" contenteditable></td>

        <td class="" cell-index="14" contenteditable></td>

        <td class="" cell-index="15">
          4
        </td>

        <td class="" cell-index="16">
          2
        </td>

        <td class="" cell-index="17">
          1
        </td>
      </tr>
      <tr class=" --separator">
        <td class="" cell-index="18" contenteditable></td>

        <td class="" cell-index="19" contenteditable></td>

        <td class="" cell-index="20" contenteditable></td>

        <td class="" cell-index="21">
          7
        </td>

        <td class="" cell-index="22">
          4
        </td>

        <td class="" cell-index="23">
          3
        </td>

        <td class="" cell-index="24" contenteditable></td>

        <td class="" cell-index="25" contenteditable></td>

        <td class="" cell-index="26">
          5
        </td>
      </tr>
      <tr class="">
        <td class="" cell-index="27">
          7
        </td>

        <td class="" cell-index="28" contenteditable></td>

        <td class="" cell-index="29">
          2
        </td>

        <td class="" cell-index="30" contenteditable></td>

        <td class="" cell-index="31" contenteditable></td>

        <td class="" cell-index="32" contenteditable></td>

        <td class="" cell-index="33" contenteditable></td>

        <td class="" cell-index="34">
          6
        </td>

        <td class="" cell-index="35" contenteditable></td>
      </tr>
      <tr class="">
        <td class="" cell-index="36" contenteditable></td>

        <td class="" cell-index="37" contenteditable></td>

        <td class="" cell-index="38" contenteditable></td>

        <td class="" cell-index="39" contenteditable></td>

        <td class="" cell-index="40" contenteditable></td>

        <td class="" cell-index="41" contenteditable></td>

        <td class="" cell-index="42" contenteditable></td>

        <td class="" cell-index="43">
          3
        </td>

        <td class="" cell-index="44" contenteditable></td>
      </tr>
      <tr class=" --separator">
        <td class="" cell-index="45" contenteditable></td>

        <td class="" cell-index="46" contenteditable></td>

        <td class="" cell-index="47">
          3
        </td>

        <td class="" cell-index="48">
          6
        </td>

        <td class="" cell-index="49">
          7
        </td>

        <td class="" cell-index="50" contenteditable></td>

        <td class="" cell-index="51" contenteditable></td>

        <td class="" cell-index="52" contenteditable></td>

        <td class="" cell-index="53" contenteditable></td>
      </tr>
      <tr class="">
        <td class="" cell-index="54" contenteditable></td>

        <td class="" cell-index="55" contenteditable></td>

        <td class="" cell-index="56">
          9
        </td>

        <td class="" cell-index="57">
          1
        </td>

        <td class="" cell-index="58" contenteditable></td>

        <td class="" cell-index="59" contenteditable></td>

        <td class="" cell-index="60">
          5
        </td>

        <td class="" cell-index="61" contenteditable></td>

        <td class="" cell-index="62">
          8
        </td>
      </tr>
      <tr class="">
        <td class="" cell-index="63" contenteditable></td>

        <td class="" cell-index="64" contenteditable></td>

        <td class="" cell-index="65">
          4
        </td>

        <td class="" cell-index="66" contenteditable></td>

        <td class="" cell-index="67" contenteditable></td>

        <td class="" cell-index="68" contenteditable></td>

        <td class="" cell-index="69">
          3
        </td>

        <td class="" cell-index="70">
          1
        </td>

        <td class="" cell-index="71" contenteditable></td>
      </tr>
      <tr class=" --separator">
        <td class="" cell-index="72">
          1
        </td>

        <td class="" cell-index="73">
          6
        </td>

        <td class="" cell-index="74" contenteditable></td>

        <td class="" cell-index="75" contenteditable></td>

        <td class="" cell-index="76" contenteditable></td>

        <td class="" cell-index="77">
          4
        </td>

        <td class="" cell-index="78">
          2
        </td>

        <td class="" cell-index="79">
          9
        </td>

        <td class="" cell-index="80" contenteditable></td>
      </tr>
    </tbody>
  </table>
</div>
